<ul>
    <li><a href="https://dvandiver.com">Project #1 - Bluehost Web Hosting</a></li>
    <li><a href="/bacs350">Project #2 - Home Page</a></li>
    <li><a href="/bacs350/superhero">Project #3 - Superhero Gallery</a></li>
    <li><a href="/bacs350/planner">Project #4 - Planner</a></li>
    <li><a href="/bacs350/docman">Project #5 - Document Manager</a></li>
    <li><a href="/bacs350/subscriber">Project #6 - Subscribers</a></li>
    <li><a href="/bacs350/superhero">Project #7 - Superhero Gallery Reworked</a></li>
    <li><a href="/bacs350/notes">Project #8 - Notes</a></li>
    <li><a href="/bacs350/review">Project #9 - Review</a></li>
    <li><a href="/bacs350/slides">Project #11 - Slideshow App</a></li>
</ul>